rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read and write their own user document.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Decks can be read by anyone, but only created, updated, or deleted by the owner.
    match /decks/{deckId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == request.resource.data.ownerId;
    }
  }
}
